body {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(58, 192, 123);
    padding: 100px 0;
}

h1 {
    text-align: center;
}

.container {
    position: absolute;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    padding: 1% 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li button {
    margin-left: 0;
    padding: 8px 16px;
    border: none;
    background: rgb(216, 216, 216);
    color: #151515;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px; 
}

.flex-inner li {
    width: 100px;
  }

.flex-inner {
    justify-content: space-between;
}